
input[type=text]{
	width: 50px;
	padding: 4px 4px;
	margin: 3px 0px;
	display:inline-block;
	border: 2px solid #ccc;
	box-sizing: border-box;
	font-size: 15px;
	border-radius: 5px;
	text-align: left;
}

input[type=s_input]{
	width: 100%
	padding: 5px 5px;
	margin: 3px 0px;
	display:inline-block;
	border: 3px solid #ccc;
	box-sizing: border-box;
	font-size: 15px;
	border-radius: 5px;
	text-align: left;
}

input[type=educ_background]{
	width: 100%
	padding: 5px 5px;
	margin: 3px 0px;
	display:inline-block;
	border: 3px solid #ccc;
	box-sizing: border-box;
	font-size: 15px;
	border-radius: 5px;
	text-align: left;
}
input[type=text1]{
	width: 100%;
	padding: 5px 5px;
	margin: 3px 0px;
	display:inline-block;
	border: 3px solid #ccc;
	box-sizing: border-box;
	font-size: 15px;
	border-radius: 5px;
	text-align: left;
}

.border{
border-collapse: collapse; 
border-radius: 20px; 
padding: 15px; 
margin: 90px 500px; 
box-sizing: border-box; 
border: 2px solid black; 
float: left; width: 600px; 
height: 600px; 
box-shadow: 1px 1px 5px 8px #888888;  
border-spacing: 10px; width: 500px; 
background-color: #A7D7D0;
}

hr{
display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
}